
<div class="cart-table-area section-padding-100">
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            </tr>
                        </thead>
                            <tbody>
                                <% @shopping_carts.each do |cart| %>
                                <% if cart.products%>
                                <% cart.products.each do |product| %>
                                <tr>
                                    <td class="cart_product_img">
                                    <% product.avatars.each_with_index do |avatar, i|%>
                                        <% if i == 0 %>
                                        <%= image_tag(avatar.url , :class => 'avatarCart')%>
                                        <%end%>
                                    <%end%>
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5><%= product.title %></h5>
                                    </td>
                                    <td class="price">
                                        <span><%= product.price %>$</span>
                                    </td>
                                    <td class="qty">
                                        <div class="qty-btn d-flex">
                                        <% product.product_shoppings.each do |shop| %>
                                            <p>Qty</p>
                                            <div class="quantity">
                                                <input type="number" class="qty-text" id="qty" step="1" min = "1"  max= <%=product.stock_quantity%> name="quantity" value= <%=  shop.quantity  %> disabled >
                                                <a href="/shopping_carts/destroy/<%=product.id%>">delete</a>
                                              
                                                <% @total += product.price * shop.quantity %>
                                        <% end %>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <%end%>
                                <%end%>
                                <%end%>
                            </tbody>
                        </table>
                        </div>
                        </div>
                            <div class="col-12 col-lg-4">
                            <div class="cart-summary">
                            <h5>Cart Total</h5>

                            <ul class="summary-table">    
                                <li><span>delivery:</span> <span>Free</span></li>
                                <li><span>total:</span> <span><%= @total %></span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                            <a href="/cart.html" class="btn amado-btn w-100">Checkout</a>
                        </div>
                    </div>
                            
                </div>
            </div>
                <div class="row paginator">
                <%= paginate @shopping_carts %>
                </div>
        </div>

    </div>



</div>
