    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <%=link_to "MyShop",home_index_path,class:"navbar-brand"%>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><%=link_to "Home",home_index_path,class:"nav-link"%></li>
			  <li class="nav-item  dropdown"><a id="navbarDropdown" href="#"  class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>
				<div class="dropdown-menu brands" aria-labelledby="navbarDropdown">
					<% @allbrands.each do |brand| %>
						<%= link_to brand.name, brand_path(brand),:class=>"dropdown-item" %>
					<%end%>
				</div>
					
			  </li>

	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
				<div class="nav-item ">
				<% if user_signed_in? %>
				<div class="UserHeader">
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				</div>
				<% else %>
				<div class="GuestHeader">
				<li class="nav-item">
				<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				</div>
				<% end %>
				</div>
 	        </ul>

			 
			 
	      </div>
	    </div>
	  </nav>
